.circle {
    height: 30%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin:20px;
    background: red;


    -webkit-box-shadow:inset 0px 0px 0px 10px black;
    -moz-box-shadow:inset 0px 0px 0px 10px black;
    box-shadow:inset 0px 0px 0px 10px black;
  }
  .redlight{
      background: red;
  }
  .yellowlight{
      background:yellow;
  }
  .greenlight{
      background:green;
  }
  .off{
      background:white;
      

  }
  .housing{
    
    height: 90vh; 
    border: 20px solid black;
    background:orange;
    margin:auto;
  }